.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  font-size: 40px;
  width: 100%;
  background-color: LightGray;
  padding: 20px;
}

.d1 {
  background-color: lightblue;
}

.d2 {
  background-color: orange;
  justify-self: center;
}

.d3 {
  background-color: cyan;
  align-self: end;
}

.d4 {
  background-color: pink;
}

.d5 {
  background-color: lightgreen;
}