.container{
    display:grid;
    font-size: 40px;
    width: 100%;
    background-color: lightgray;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px 20px;
    
}
.d1{
   height: 1fr;
   width: 1fr;
    background-color: rgb(87, 185, 87);

}
.d2{
    height: 1fr;
    width: 1fr;
    background-color: rgb(124, 55, 55);

}
.d3{
    height: 1fr;
    width: 1fr;
   
    background-color: rgb(214, 214, 185);

}
.d4{
    height: 1fr;
    width: 1fr;
    
    background-color: lightpink;

}
.d5{
    height: 1fr;
    width: 1fr;
   
    background-color: rgb(59, 14, 221);

}
